/* ================================= 
  Base Element Styles
==================================== */


body {
    font-family: 'Merriweather', serif;
    background: #fff;
    color: #1f2123;
    margin: 0 auto;
}

legend {
    font-weight: bold;
    padding: 15px 0 5px 0;
    margin-bottom: 10px;
}

label {
    color: #364352;
    font-size: .7em;
}

p {
    color: #b1b1b1;
}
/* ================================= 
  Base Layout Styles
==================================== */
.container {
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
}

.container * {
    box-sizing: border-box;
}

.main-header {
    background: #2e4054;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

.main-header h1 {
    padding: 10px;
    font-size: 1.1em;
}

.sec-main {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

.sec-main h2 {
    font-size: 1.1em;
}

.sec-main p {
    font-size: .7em; 
    max-width: 250px;
    margin: 0 auto;
}


/* Top border 1 */
.border1 {
    height: 5px;
    margin: 20px auto 0;
    border-top: 4px solid #2e4054;
  }

/* Top border 2   */
.border2 {
    height: 10px;
    margin: 2px auto 0;
    border-top: 2px solid #2e4054;
  }

/* Bottom Border */
.border3 {
    height: 10px;
    margin: 2px auto 0;
    border-top: 2px solid #2e4054;
}


.field-1,
.field-2 {
    padding-right: 0;
    padding-left: 0;
}

/* placeholder config */
::placeholder {
    font-family: 'Merriweather', serif;
    color: lightgray;
    font-style: oblique;
    font-size: 70%;
    text-align: right;
}

/* bottom placeholder */
.field-2 textarea::placeholder {
    text-align: left;
    font-size: .8em;
}

.flex-outer {
    list-style-type: none;
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
}

.flex-outer li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-outer li label,
.flex-outer li p {
    font-weight: 300;
    letter-spacing: .09em;
}

.flex-outer > li > label,
.flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
}

.flex-outer > li > label + * {
    flex: 4 0 220px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.flex-outer li p {
    margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
    padding: 15px;
    width:100%;
}

fieldset {
    border: none;
}

.field-1 input,
textarea,
select {
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #f3f3f3;
    color: darkgray;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

footer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: .8em;
    font-style: oblique;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 0;
    margin-top: 40px;
    background: #2e4054;
}  

footer p {
    color: #fff;
}

input,
textarea {
    outline: none;
    border-radius: 4px;
}
 
/* focus area */
input:focus, textarea:focus {
    border: 1.5px solid rgba(45, 93, 146, 1);
    transition: border-color 0.5s ease-out;
}


/* Base button config */
button {
    cursor: pointer;
    font-family: 'Merriweather', serif; 
    font-weight: bold;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4ab5b2;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #50c2be;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
    transition: background-color 0.5s ease-out;
}

/* clicked button */
 button:active {
        background-color: #204051;
        border-color: #69bcd8;
    }

/* cursor */
input,
label,
select,
textarea {
    cursor: pointer;
}

/* dropdown properties */
#state {
    font-family: 'Merriweather', serif; 
    color: darkgray;
    font-size: .7em;
    border-radius: 4px;
}

.field-2 p {
    font-size: .8em;
    margin-top: 5px;
    line-height: 1.5em;  
    color: #364352;
}

.field-2 legend {
    margin-bottom: 0;
}

/* zip code properties */
.zip {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.zip input {
    width: 50%;
    margin-top: 10px;
}

/* checkbox and radio button */
input[type="checkbox"] {
    border-radius: 4px;
    height: 10px;
}

input[type="radio"] {
    border-radius: 4px;
    height: 10px;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 10px;
    margin-left: 0;
}

/* flexbox properties for newsletter section */
.row {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

/* textbox  */
#message {
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}






/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {


    .container {
        width: 90%;
        max-width: 600px;
        margin: 0 auto;
    }

    /* top border lines */
    .border1,
    .border2 {
        width: 600px;
    }

    .border2 {
        margin-bottom: 10px;
    }

    .flex-outer li label,
    .flex-outer li p {
        padding-bottom: 15px;
    }

    .flex-outer > li > label + *,
    .flex-inner {
        margin-top: 0;
    }

    .sec-main p {
        max-width: 500px;
    }

    .sec-main h2 {
        font-size: 1.5em;
        margin-top: 50px;
    }

    /* bottom border line */
    .border3 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* contact info and newsletter section font size */
    legend {
        font-size: 1.1em;
    }

    label {
        font-size: .8em;
    }

    /* button config */
    button {
        height: 70px;
    }
    
    button:hover {
        color: #fff;
        background-color: #3b6978;
        border-color: #69bcd8;
        font-size: 1.2em;  
    }

    button:active {
        background-color: #204051;
        border-color: #69bcd8;
    }

    /* zip code adjust */
    .zip {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .zip input {
        width: 25%;
        margin-right: 275px;
        margin-top: 0em;
    }

    .zip label {
        padding-top: 20px;
    }

    .field-2 p {
        font-size: .9em;
    }

    .sec-main p {
        font-size: .9em;
        margin-bottom: 10px;
    }

    .sec-main h2 {
        margin-bottom: 5px;
    }

 

}
